<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Muninn</title>
    <link rel="stylesheet" href="/assets/codemirror/codemirror.css">
    <script src="/assets/codemirror/codemirror.js"></script>
    <script src="/assets/codemirror/matchbrackets.js"></script>
    <script src="/assets/codemirror/continuecomment.js"></script>
    <script src="/assets/codemirror/comment.js"></script>
    <script src="/assets/codemirror/javascript.js"></script>
    <script src="/assets/codemirror/python.js"></script>
  </head>
  <body>
    <div>
      {% block header %}Muninn{% endblock %}
    </div>
</body>

</html>
