<html>
  <head>
    <title>Muninn</title>
    <link rel="stylesheet" href="/assets/codemirror/codemirror.css">
    <script src="/assets/codemirror/codemirror.js"></script>
    <script src="/assets/codemirror/matchbrackets.js"></script>
    <script src="/assets/codemirror/continuecomment.js"></script>
    <script src="/assets/codemirror/comment.js"></script>
    <script src="/assets/codemirror/javascript.js"></script>
    <script src="/assets/codemirror/python.js"></script>
  </head>
  <body>
    <div>
      {% block header %}Muninn{% endblock %}
    </div>
    <div>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
